<div class='collection'>
    <h3 class='text-center mb-3'>Danh sách bộ sưu tập</h3>
    {{#if success}}
        <div class='alert alert-success position-relative' role='alert'>
            {{success}}
            <span class='close-alert position-absolute'><i class='bi bi-x-circle-fill'></i></span>
        </div>
    {{/if}}
    {{#if error}}
        <div class='alert alert-danger' role='alert'>
            {{error}}
            <span class='close-alert position-absolute'><i class='bi bi-x-circle-fill'></i></span>
        </div>
    {{/if}}
    <div class='d-flex justify-content-between mb-1'>
        <div class='d-flex align-items-center'>
            <div class='me-1'>
                <a href='/collection/add' class='btn btn-primary small'>
                    Thêm bộ sưu tập
                    <i class="bi bi-plus-circle-fill"></i>
                </a>
            </div>  
            <div>
                <a href='/collection' class='btn btn-success small'>
                    Reset
                    <i class="bi bi-arrow-repeat"></i>
                </a>
            </div>
        </div>
    </div>
    <table class='table table-success'>
        <thead>
            <tr>
                <th class='text-center border border-dark'>STT</th>
                <th class='text-center border border-dark'>Ảnh</th>
                <th class='text-center border border-dark'>Tên bộ sưu tập</th>
                <th class='text-center border border-dark'>Chức năng</th>
            </tr>
        </thead>
        <tbody>
            {{#each collections}}
                <tr>
                    <td class='text-center border border-dark'>{{sum @index 1}}</td>
                    <td class='text-center border border-dark' width='8%'>
                        <img src="{{this.image}}" height="50">
                    </td>
                    <td class='text-center border border-dark'>{{this.name}}</td>
                    <td class='text-center border border-dark'>
                        <a href='/collection/edit/{{this._id}}' class='btn btn-primary small'>
                            Sửa
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <a
                            href='#'
                            class='btn btn-danger small'
                            data-bs-toggle='modal'
                            data-bs-target='#deleteModal'
                            data-id='{{this._id}}'
                        >Xoá<i class="bi bi-trash-fill"></i></a>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
    {{> pagination}}
</div>
<!-- delete form -->
<form action="" method="post" id="delete-form"></form>
<!-- delete Modal -->
<div
    class='modal fade'
    id='deleteModal'
    tabindex='-1'
    aria-labelledby='exampleModalLabel'
    aria-hidden='true'
>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h5 class='modal-title' id='exampleModalLabel'>Xoá bộ sưu tập</h5>
                <button
                    type='button'
                    class='btn-close'
                    data-bs-dismiss='modal'
                    aria-label='Close'
                ></button>
            </div>
            <div class='modal-body'>
                Bạn có chắc chắn muốn xoá bộ sưu tập này???
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-danger' id="delete-btn">Xoá bỏ</button>
                <button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>Huỷ</button>
            </div>
        </div>
    </div>
</div>

<script>
    const deleteModal = document.getElementById('deleteModal')
    const deleteForm = document.getElementById('delete-form');
    const deleteBtn = document.getElementById('delete-btn');
    deleteModal.addEventListener('show.bs.modal', function (event) { 
        const button = event.relatedTarget 
        const deleteId = button.dataset.id;

        deleteBtn.onclick = () => {
            deleteForm.action = '/collection/store-delete/' + deleteId + '?_method=DELETE';
            deleteForm.submit();
        }
    })
</script>