<div class='banner'>
    <h3 class='text-center mb-3'>Sửa banner</h3>
    <form action='/banner/store-edit/{{banner._id}}?_method=PUT' method='post' style='width:60%;' enctype='multipart/form-data' class='mx-auto form-add'>
        {{#if success}}
            <div class='alert alert-success' role='alert'>
                {{success}}
                <span class='close-alert position-absolute'><i
                        class='bi bi-x-circle-fill'
                    ></i></span>
            </div>
        {{/if}}
        <div class='d-flex align-items-center mb-2'>
            <div class='me-1'>
                <a href='/banner' class='btn btn-success small'>Danh sách banner</a>
            </div>
        </div>
        <div class='row'>
            <div class='mb-2 col-6'>
                <label class='form-label fw-bold'>Chiều cao</label>
                <input type='number' name='height' class='form-control' value="{{banner.height}}"/>
                {{#if errors.height}}
                    <div class='form-error'>{{errors.height}}</div>
                {{/if}}
            </div>
            <div class='mb-2 col-6'>
                <label class='form-label fw-bold'>Chiều rộng</label>
                <input type='number' name='width' class='form-control' value="{{banner.width}}"/>
                {{#if errors.width}}
                    <div class='form-error'>{{errors.width}}</div>
                {{/if}}
            </div>
            <div class='mb-2 col-6'>
                <label class='form-label fw-bold'>Liên kết loại sản phẩm</label>
                <select name='category_link' class='form-select'>
                    <option value=''>--Chọn--</option>
                    {{#each categories}}
                        <option {{#iq ../banner.link this.slug}}selected{{/iq}} value='{{this.slug}}'>{{this.name}}</option>
                    {{/each}}
                </select>
                {{#if errors.category_link}}
                    <div class='form-error'>{{errors.category_link}}</div>
                {{/if}}
            </div>
            <div class='mb-2 col-6'>
                <label class='form-label fw-bold'>Liên kết bộ sưu tập</label>
                <select name='collection_link' class='form-select'>
                    <option value=''>--Chọn--</option>
                    {{#each collections}}
                        <option {{#iq ../banner.link this.slug}}selected{{/iq}} value='{{this.slug}}'>{{this.name}}</option>
                    {{/each}}
                </select>
                {{#if errors.collection_link}}
                    <div class='form-error'>{{errors.collection_link}}</div>
                {{/if}}
            </div>
            <div class='mb-2 col-12'>
                <label class='form-label fw-bold'>Ảnh banner</label>
                <input type='file' name='image' class='form-control' />
                {{#if errors.image}}
                    <div class='form-error'>{{errors.image}}</div>
                {{/if}}
                <img class="mt-1" src="/{{banner.image}}" height="25">
            </div>
            <div class='mb-2 col-12 row'>
                <label class='form-label fw-bold'>
                    Vị trí
                    <span class='fw-light' style='color:blue;'>(Chọn 1 vị trí duy nhất)</span>
                </label>
                <div class='col-3 d-flex align-items-center'>
                    <label class='form-label me-1' style='margin-bottom: 0;' for="isTopbar">Đầu trang chính</label>
                    <input
                        type='radio'
                        name='isTopbar'
                        class='form-check-input input-place-banner'
                        style='margin-top: 0;'
                        id="isTopbar"
                        {{#if banner.isTopbar}}checked{{/if}}
                    />
                </div>
                <div class='col-3 d-flex align-items-center'>
                    <label class='form-label me-1' style='margin-bottom: 0;' for="isSliderHero">Thanh trượt top</label>
                    <input
                        type='radio'
                        name='isSliderHero'
                        class='form-check-input input-place-banner'
                        style='margin-top: 0;'
                        id="isSliderHero"
                        {{#if banner.isSliderHero}}checked{{/if}}
                    />
                </div>
                <div class='col-3 d-flex align-items-center'>
                    <label class='form-label me-1' style='margin-bottom: 0;' for="isSliderBot">Thanh trượt bottom
                    </label>
                    <input
                        type='radio'
                        name='isSliderBot'
                        class='form-check-input input-place-banner'
                        style='margin-top: 0;'
                        id="isSliderBot"
                        {{#if banner.isSliderBot}}checked{{/if}}
                    />
                </div>
                <div class='col-3 d-flex align-items-center'>
                    <label class='form-label me-1' style='margin-bottom: 0;' for="isPopular">Hiển thị nổi bật</label>
                    <input
                        type='radio'
                        name='isPopular'
                        class='form-check-input input-place-banner'
                        style='margin-top: 0;'
                        id="isPopular"
                        {{#if banner.isPopular}}checked{{/if}}
                    />
                </div>
                <div class='col-3 d-flex align-items-center mt-3'>
                    <label class='form-label me-1' style='margin-bottom: 0;' for="isHot">Hiển thị hot</label>
                    <input
                        type='radio'
                        name='isHot'
                        class='form-check-input input-place-banner'
                        style='margin-top: 0;'
                        id="isHot"
                        {{#if banner.isHot}}checked{{/if}}
                    />
                </div>
                {{#if errors.place}}
                    <div class='form-error'>{{errors.place}}</div>
                {{/if}}
            </div>
            <input type="hidden" name="img" value="{{banner.image}}">
        </div>
        <div class='form-button mt-3'>
            <button type='submit' class='btn btn-primary'>Lưu chỉnh sửa</button>
        </div>
    </form>
</div>