<div class='user-add'>
    <h3 class='text-center mb-3'>Thêm người dùng</h3>
    <form method='post' action='/user/store-add' style='width:45%;' class='mx-auto form-add'>
        {{#if success}}
        <div class="alert alert-success" role="alert">
            {{success}}
            <span class="close-alert position-absolute"><i class="bi bi-x-circle-fill"></i></span>
        </div>
        {{/if}}
        {{#if error}}
        <div class="alert alert-danger" role="alert">
            {{error}}
            <span class="close-alert position-absolute"><i class="bi bi-x-circle-fill"></i></span>
        </div>
        {{/if}}
        <div class='d-flex align-items-center mb-2'>
            <div class='me-1'>
                <a href='/user' class='btn btn-primary small'>Danh sách người dùng</a>
            </div>
            <div>
                <a href="/user/add" class="btn btn-success small">Reset</a>
            </div>
        </div>
        <div class='row'>
            <div class='mb-3 col-6'>
                <label class='form-label'>Họ và tên đệm</label>
                <input type='text' name='surname' class='form-control' value="{{#if data.surname}}{{data.surname}}{{/if}}"/>
                {{#if errors.surname}}
                    <div class='form-error'>{{errors.surname}}</div>
                {{/if}}
            </div>
            <div class='mb-3 col-6'>
                <label class='form-label'>Tên</label>
                <input type='text' name='name' class='form-control' value="{{#if data.name}}{{data.name}}{{/if}}"/>
                {{#if errors.name}}
                    <div class='form-error'>{{errors.name}}</div>
                {{/if}}
            </div>
        </div>
        <div class='mb-3'>
            <label class='form-label'>Số điện thoại</label>
            <input type='text' name='phone' class='form-control' value="{{#if data.phone}}{{data.phone}}{{/if}}"/>
            {{#if errors.phone}}
                <div class='form-error'>{{errors.phone}}</div>
            {{/if}}
        </div>
        <div class='mb-3'>
            <label class='form-label'>Email</label>
            <input type='text' name='email' class='form-control' value="{{#if data.email}}{{data.email}}{{/if}}"/>
            {{#if errors.email}}
                <div class='form-error'>{{errors.email}}</div>
            {{/if}}
        </div>
        <div class='mb-3'>
            <label class='form-label'>Mật khẩu</label>
            <input type='password' name='password' class='form-control' value="{{#if data.password}}{{data.password}}{{/if}}"/>
            {{#if errors.password}}
                <div class='form-error'>{{errors.password}}</div>
            {{/if}}
        </div>
        <div class='mb-3'>
            <label class='form-label'>Quyền truy cập</label>
            <select name='access' class='form-select'>
                <option value=''>--Chọn--</option>
                <option {{#iq data.access 'user'}} selected {{/iq}} value='user'>Người dùng</option>
                <option {{#iq data.access 'saff'}} selected {{/iq}} value='saff'>Nhân viên</option>
                <option {{#iq data.access 'admin'}} selected {{/iq}} value='admin'>Quản trị viên</option>
            </select>
            {{#if errors.access}}
                <div class='form-error'>{{errors.access}}</div>
            {{/if}}
        </div>
        <div class='form-button'>
            <button type='submit' class='btn btn-primary'>Thêm người dùng</button>
        </div>
    </form>
</div>